version: '3.8'

services:
  postgres_db:
    image: postgres:15.3-alpine
    container_name: my_postgres_container
    restart: always
    environment:
      POSTGRES_DB: mydatabase
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    ports:
      - "5432:5432"